body {
  font-family: sans-serif;
  background: chocolate;
}

.board {
  display: block;
  justify-content: space-evenly;
}

header {
  text-align: center;
  background: wheat;
  margin-bottom: 20px;
}

button {
  background: green;
  font-size: 20pt;
  color: white;
}

.sticky{
  /* position: absolute; */
  background: yellowgreen;
  width: 300px;
  height: 300px;
  border: 2px solid black;
  box-shadow: 5px 5px 5px black;

  margin: 25px;
  padding: 10px;
  font-family: 'Gloria Hallelujah', sans-serif;
  font-size: 16pt;
  overflow-y: scroll;
  resize: none
}

button {
  position: absolute;
  left: 50%;
  
}

.sticky::-webkit-scrollbar {
  background: yellowgreen;
}

@media only screen and (max-width: 1000px) {
  .board {
    display:block
  }
}